<div class="flex h-screen" data-controller="index">
  <div class="m-auto">
    <button class="bg-green-500 active:bg-green-700 p-3" data-action="click->index#helloWorld">Hello World</button>
  </div>
</div>

