<div class="flex h-screen w-screen bg-green-500" data-controller="index">
  <div class="m-auto">
    <label id="age-label"
      data-index-under-age-class="text-red-500"
      class="text-md" data-index-target="label"
    >
    </label>
    <div class="mt-2">
      <input id="age-input" type="number" min="0" class="p-2 border border-gray-500 focus:border-gray-700  rounded"
        data-index-target="input"
        data-action="input->index#onInputChange" />
    </div>
  </div>
</div>
